html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

th{
	background: #D0D0D0;
}

.container-fluid{

}

/*Стили для выпадающего списка для печати выбранных записей*/

#select-electric .row{
  margin-bottom: 25px;
}

#select-electric .row .form-group label{
  margin-right: 10px;
  margin-left: 10px;
}

/*#select-electric .row .col-md-3, .col-md-2, .col-md-7{
  border: 1px solid red !important;
}*/
/**/

#header_journal_of_breakdowns{
  text-align: center;
  width: 200px;
  /*border: 1px solid green;*/
  margin: 80px auto 35px auto;
  text-shadow: grey 3px 3px 15px;
  font: normal small-caps 35px/14px fantasy;
}

#header_journal_of_breakdowns:first-letter{
  color: #363636;
}

.table-responsive #table-for-electric tr th{
  padding: 10px 10px;
}

.table-responsive #table-for-electric tr th, td{
  border: 1px solid #EEE5DE;
  text-align: center;
  font-size: 17px;
}

.table-responsive #table-for-electric a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px auto;
  width: 200px;
  display: table-cell;
}

/*стили для меню*/

#menu{
  margin-top: 15px;
}

#menu .nav-pills{
  width: 30%;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

#menu .nav-pills li{
  /*border: 1px solid grey;*/
}

/*конец стилей для меню*/

/*стили кнопки выбора номера цеха*/

#button-select-workshop{
  margin-top: 15px;
}

/*конец стилей для кнопки выбора номера цеха*/

/*стили для формы добавления записи в таблицу*/

#form-add-note .form-control{
  width: 50% !important;
  margin: 0 auto;
}

/*конец стилей для формы добавления записи в таблицу*/